<!DOCTYPE html>
<html>
<head>
    <title>管理控制台 -  Powered by {:config('hisiphp.name')}</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="__PUBLIC_JS__/layui/css/layui.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__ADMIN_CSS__/theme.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__ADMIN_CSS__/style.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__STATIC__/fonts/typicons/min.css?v={:config('hisiphp.version')}">
    <link rel="stylesheet" href="__STATIC__/fonts/font-awesome/min.css?v={:config('hisiphp.version')}">
    <style type="text/css">
        .hs-iframe{width:100%;height:100%;}
        .layui-tab{position:absolute;left:0;top:0;height:100%;width:100%;z-index:10;margin:0;border:none;overflow:hidden;}
        .layui-tab-content{padding:0 0 0 10px;height:100%;}
        .layui-tab-item{height:100%;}
        .footer{position:fixed;left:0;bottom:0;z-index:998;}
    </style>
</head>
<body class="hisi-theme-{:cookie('hisi_admin_theme')}">
{php}
$ca = strtolower(request()->controller().'/'.request()->action());
{/php}
<div class="layui-layout layui-layout-admin">
    {include file="system@block/menu" /}
    <div class="layui-body" id="switchBody">
        <div class="layui-tab layui-tab-card" lay-filter="hisiTab" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li lay-id="0" class="layui-this">首页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe lay-id="0" src="{:url('index/welcome')}" width="100%" height="100%" frameborder="0" scrolling="yes" class="hs-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer footer">
        <span class="fl">长江汽车电子有限公司</span>
        <span class="fr"> © 2019-2020 电子研发中心 All Rights Reserved.</span>
    </div>
</div>
{include file="system@block/layui" /}
<script type="text/javascript" src="__STATIC__/js/jquery.2.1.4.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.cookie.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'element', 'layer'], function() {
        //实现刷新页面后，已打开的页面保存下来
        var $ = layui.jquery, element = layui.element, layer = layui.layer;
        $('.layui-tab-content').height($(window).height() - 145);
        if($.cookie('url_store')){
            var url_arr=JSON.parse($.cookie('url_store'))
            for(var i=0;i<url_arr.length;i++){
                element.tabAdd('hisiTab',{
                    title: '<i class="layui-icon j-ajax" data-href="{:url('system/menu/quick')}?id='+url_arr[i][2]+'">&#xe600;&nbsp;</i>'+url_arr[i][0],
                    content: '<iframe width="100%" height="100%" lay-id="'+url_arr[i][2]+'" frameborder="0" src="'+url_arr[i][1]+'" scrolling="yes" class="x-iframe"></iframe>',
                    id: url_arr[i][2],
                })
            }
        }

        var tab = {
            add: function(title, url, id) {
                if(title=='快捷菜单') title='首页';
                element.tabAdd('hisiTab', {
                    title: '<i class="layui-icon j-ajax" data-href="{:url('system/menu/quick')}?id='+id+'">&#xe600;&nbsp;</i>'+title,
                    content: '<iframe width="100%" height="100%" lay-id="'+id+'" frameborder="0" src="'+url+'" scrolling="yes" class="x-iframe"></iframe>',
                    id: id
                });
            }, change: function(id) {
              element.tabChange('hisiTab', id);
            }
        };
        
        var arr_temp=[];
        $('.admin-nav-item').click(function(event) {
            var that = $(this);
            if ($('iframe[src="'+that.attr('href')+'"]')[0]) {
                tab.change(that.attr('data-id'));
                event.stopPropagation();
                return false;
            }
            
            if (!that.hasClass('top-nav-item')) {
                that.css({color:'#fff'});
            }

            tab.add(that.text(), that.attr('href'), that.attr('data-id'));

            var store_data=[that.text(), that.attr('href'), that.attr('data-id')];
            var flag=true;
            for(var i=0;i<arr_temp.length;i++){
                if(store_data.toString()==arr_temp[i].toString()){
                    flag=false;
                }
            }
            if(flag==true){
                arr_temp.push(store_data);
            }

            var num=[];
            if($.cookie('url_store')){
                var cookie_arr=JSON.parse($.cookie('url_store'));
                
                for(var i=0;i<cookie_arr.length;i++){
                    for(var j=0;j<arr_temp.length;j++){
                        if(cookie_arr[i].toString()==arr_temp[j].toString()){
                            num.push(arr_temp[j][2]);    
                        }
                    }
                }

                for(var i=0;i<arr_temp.length;i++){
                    if(num){
                        var flag2=true;
                        for(var j=0;j<num.length;j++){
                            if(num[j]==arr_temp[i][2]){
                                flag2=false;
                            }
                        }
                        if(flag2==true) cookie_arr.push(arr_temp[i]);
                    }else{
                        cookie_arr.push(arr_temp[i]);
                    }
                }
                $.cookie('url_store',JSON.stringify(cookie_arr));
            }else{
                $.cookie('url_store',JSON.stringify(arr_temp));
            }
            
            tab.change(that.attr('data-id'));
            event.stopPropagation();
            return false;
        });

        $(document).on('click', '.layui-tab-close', function() {
            $('.layui-nav-child a[data-id="'+$(this).parent('li').attr('lay-id')+'"]').css({color:'rgba(255,255,255,.7)'});
            var del_id=$(this).parent('li').attr('lay-id');
            if($.cookie('url_store')){
                var url_arr=$.parseJSON($.cookie('url_store'));
                var del_temp_arr=[];
                for(var i=0;i<url_arr.length;i++){
                    if(del_id!=url_arr[i][2]) del_temp_arr.push(url_arr[i]);
                }

                url_str=JSON.stringify(del_temp_arr);

                $.cookie('url_store',url_str);
            }
        });
    });
</script>
</body>
</html>